html, body {
	padding-top: 0px;
    background-color: #085C2F;
    background-repeat: no-repeat;
	height: 100%;
	min-width: 900px;
}

#container {
    height: 100%;
	width: 100%;
}

#topContent {
  min-height: 165px;
  width: 100%;
}

#mainContent {
   height: calc(100% - 165px);
   min-height: 400px;
}

#topLeft {
	height: 100%;
	min-height: 165px;
	width: 20%;
	background: transparent;
	float: left;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
}
#header{
	height: 100%;
	width: 60%;
	min-height: 165px;
	background:  transparent;
	float: left;
}
#topRight {
	height: 100%;
	min-height: 165px;
	width: 20%;
	background-color: #transparent;
	padding-top: 8px;
	float: left;
	overflow: hidden;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
}

#filesystem {
  height: 100%;
  width: 20%;
  padding-top: 5px;
  padding-left: 5px;
  background-color: #FAFAFA;
  float: left;
  overflow: auto;
}

UL.jqueryFileTree A:hover {
    background: #9eeac2;
}

#editor {
  height: 100%;
  width: 60%;
  background-color: #FAFAFA;
  padding-top: 0px;
  float: left;
  overflow: hidden;
}

#optionSideBar {
  height: 100%;
  width: 20%;
  background-color: #085c2f;
  float: left;
  overflow: hidden;
}

/*Buttons*/
.btn-project {
  color: #000000;
  background-color: #FFFFFF;
}

.btn-project:hover,
.btn-project:focus,
.btn-project:active,
.btn-project.active,
.open .dropdown-toggle.btn-project {
  color: #FFFFFF;
  background-color: #085c2f;
}

.btn-file {
  color: #FFF;
  background-color: #444;
}

.btn-file:hover,
.btn-file:focus,
.btn-file:active,
.btn-file.active,
.open .dropdown-toggle.btn-file {
  color: #FFFFFF;
  background-color: #151515;
}

.btn-account{
  color: #FFF;
  background-color: #1d703a;
}

.btn-account:hover,
.btn-account:focus,
.btn-account:active,
.btn-account.active,
.open .dropdown-toggle.btn-account {
  color: #FFFFFF;
  background-color: #151515;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  margin: auto;
  width: 80%;
  overflow: hidden;
}

.btn-lgr {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  margin: auto;
  width: 90%;
  overflow: hidden;
}

/*Options Sidebar CSS*/
.panel {
  overflow: hidden;
  color: #000000;
  width: 90%;
  text-align: center;
  margin: auto;
  background-color: #D8D8D8;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

hr {
  color: #111;
  background-color: #111;
  border-color: #111;
}